body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ========================= GENERAL ============================ */
.App {
  text-align: center;
  min-height: 100vh;
  background-color: antiquewhite;
}
/* ========================== HOME PAGE ============================= */
.HomeHeader {
  position: relative;
}

.HomeHeader h3 {
  background-color: #252526;
  margin-bottom: 0;
  color: rgb(244, 178, 96);
  padding-bottom: 30px;
  margin-top: 0;
}

.Front {
  margin-bottom: 0;
  margin-top: 50px;
}

.FrontImage{
  width: 100%;
  object-fit: contain;
}

.PrincipalTitle {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 300%;
  margin-top: 30px;
  background-color: #252526;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  z-index: 99;
}

.Paragraph {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  background-color: #252526;
  margin-top: 0;
  color: rgb(244, 178, 96);
}

.DescriptionWebSite {
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(244, 178, 96);
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 30px;
}

.DescriptionWebSite h4 {
  font-weight: 700;
  margin-bottom: 15px;
}

.SubTitle {
margin-bottom: 3px;
}

.TopicLink {
  color: black;
  text-decoration: none;
}

.Video {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 60px;
}

.ImageTitleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.BodyContain {
  background-color: #ffffff;
  margin-top: -30px;
  padding-top: 20px;
}

.ImageTextCard {
  height: 200px;
  object-fit: contain;
  margin-right: 20px;
}

.TextCards {
  margin-top: 30px;
  text-align: center;
  padding-right: 30px;
  padding-left: 40px;
  margin-bottom: 40px;
}

.TextCards h3 {
  font-family: "DM Serif Display", serif;
  font-size: 250%;
  text-align: left;
}

.TextCards p {
text-align: left;
}

.DescriptionWebSite a:hover {
  color: rgb(84, 82, 82);
}
/* ================================== NAVBAR ============================== */
.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
  background-color: #252526;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.Auth {
  margin-right: -20px;
}

.Btn {
  padding: 3px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
}

.BtnSignUp {
  padding: 3px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: -15px;
}

.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 15px;
  font-size: 1.2rem;
  color: rgb(244, 178, 96);
  font-size: 18px;
}

.Navbar a:hover {
color: white;
}

.Navbar span {
  color: rgb(244, 178, 96);
  margin-right: 10px;
}

/* ========================== SIGN UP =============================== */
.SignupContainer {
  display: flex;
  justify-content: center;
  margin-top: 51px;
}

.Signup {
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 340px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.Signup h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.SignupForm {
  display: block;
}

.SignupForm .form-label {
  margin-bottom: 0;
}

.SignupForm .form-control {
  margin-bottom: 30px;
}

.LinkLogin {
  color: rgb(244, 178, 96);
  font-weight: 600;
}

.BtnSubmit {
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* ============================= ARTICLES =============================== */
.ArticleContainer {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  text-align: left;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.AddButton {
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #252526;
  border-radius: 4px;
  color: rgb(244, 178, 96);
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 90%;
  font-weight: 600;
}

.ArticleCard {
  margin-bottom: 50px;
}

.ArticleCard a {
  color: #252526;
  text-decoration: none;
  font-size: 100%;
}

.ArticleCard a:hover {
  color: rgb(84, 82, 82);
}

.ArticleCard h2 {
  font-weight: 600;
}

.ArticleCard h6 {
  font-weight: 600;
}

.ArticleCard p {
  margin-bottom: 10px;
}

/* ADD ARTICLE */
.AddContainer {
  margin-top: -10px;
}

.Add {
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  margin-bottom: 40px;
}

.Add h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.AddForm .form-control {
  margin-bottom: 30px;
}

.AddForm .form-label {
  margin-bottom: 0;
}

.AddForm button {
  margin-right: 10px;
}

.Description {
  height: 130px;
}

/* MODIFY ARTICLE */
.ModifyArticle button {
  background-color: #252526;
  border-radius: 4px;
  color: rgb(244, 178, 96);
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 90%;
}

/* ============================= CIGARETTE PACK ============================ */
/* -------------------------------- FILTERS -------------------------------- */
.FilterContainer {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-top: 40px;
  background-color: rgb(244, 178, 96);
  padding-left: 40px;
  padding-right: 40px;
  position: fixed;
  z-index: 90;
}

.Filter {
  padding-top: 13px;
  padding-bottom: 20px;
  text-align: left;
  margin-right: 20px;
  width: 40%;
}

.Filter h3 {
  margin-top: 10px;
  font-size: 90%;
  font-weight: 700;
  margin-bottom: 7px;
}

.BtnAddCigPack {
  padding: 4px 15px;
  background-color: #252526;
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-top: 47px;
  padding-right: 20px;
  margin-bottom: 19px;
  border-radius: 6px;
  font-size: 90%;
  width: 20%;
}

.BtnAddCigPack a {
  color: rgb(244, 178, 96);
  text-decoration: none;
}

.BtnAddCigPack a:hover {
  color: white;
}

/* -------------------------------- ALL CIGARETTE PACKS -------------------------------- */
.CigPackContainer {
  padding-top: 170px;
  padding-left: 40px;
  padding-right: 40px;
}

.CigarettePackCard {
  margin: 0 auto;
  padding: 0 20px;
}

.CigPackImageContainer {
  height: 200px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.CigPackImage {
  height: 90%;
  transition: 0.5s;
  object-fit: cover;
  margin-bottom: 0;
}

.CigPackImage:hover {
  transform: scale(1.2);
  z-index: 0;
}

.Title {
  margin-top: 0;
  padding: 0;
  font-size: 180%;
  font-weight: 700;
}

.Data {
  margin-bottom: 30px;
  align-content: center;
}

.Data p {
  margin-bottom: 3px;
}

.CigPackDetailsLink {
  color: #252526;
  font-size: 100%;
  text-decoration: none;
}

.Title a:hover {
  color: rgb(84, 82, 82);
}

/* -------------------------------- ADD CIGARETTE PACKS -------------------------------- */
.AddCigPackContainer {
  margin-top: 90px;
}

.AddCigPack {
  width: 300px;
  margin: 0 auto;
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 40px;
  text-align: left;
}

.AddCigPack h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.AddCigPackContainer ul {
  margin-left: -30px;
  margin-top: 8px;
}

.ListItem {
  list-style-type: none;
}

/* -------------------------------- CIGARETTE PACKS DETAILS -------------------------------- */
.DetailsBody {
  padding-bottom: 20px;
}

.CigPackDetailsContainer {
  display: flex;
  margin: 0 auto;
}

.CigPackDetailsImage {
  margin-top: 90px;
  margin-left: 40px;
  width: 500px;
  margin-bottom: 20px;
}

.CigPackDetailsData {
  margin-top: 84px;
  width: 520px;
  padding-left: 20px;
  text-align: left;
}

.TitleDetails {
  font-size: 160%;
  margin-bottom: 5px;
}

.DescriptionDetails {
  margin-bottom: 5px;
}

.CigPackDetailsData strong {
  font-weight: 700;
  font-size: 100%;
}

.CigPackDetailsData p {
  margin-bottom: 0;
  font-size: 90%;
}

#TopicItem {
  font-size: 80%;
}

.ButtonsDetails {
  margin-top: 5px;
  display: flex;
}

.ButtonsDetails button {
  margin-right: 10px;
  border-color: #252526;
}

/* -------------------------------- EDIT CIGARETTE PACK -------------------------------- */
.EditCigPackContainer {
  margin-top: -30px;
}

.EditCigPack {
  width: 300px;
  background-color: #252526;
  margin-left: 40px;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 40px;
  text-align: left;
}

.EditCigPack h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.EditCigPackContainer ul {
  margin-left: -30px;
  margin-top: 8px;
}