body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* APP */
.App {
  text-align: center;
  min-height: 100vh;
}

/* NAVBAR */
.Navbar {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 10px 20px;
  font-weight: 600;
  border-bottom: 1px solid #000000a8;
  background-color: #252526;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
}

.Btn {
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
}

.Btn-SignUp {
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-right: -15px;
}

.Navbar a {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0px 15px;
  font-size: 1.2rem;
  color: rgb(244, 178, 96);
  font-size: 20px;
}

.Navbar span {
  color: rgb(244, 178, 96);
  margin-right: 10px;
}

/* HOME PAGE */
.Home-Header {
  position: relative;
}

.Home-Header h3 {
  background-color: #252526;
  margin-bottom: 0;
  color: rgb(244, 178, 96);
  padding-bottom: 30px;
  margin-top: 0;
}

.Front {
  height: 450px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 50px;
}

.Principal-Title {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  font-size: 300%;
  margin-top: 30px;
  background-color: #252526;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.Paragraph {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  background-color: #252526;
  margin-top: 0;
  color: rgb(244, 178, 96);
}

.Home-Body {
  display: flex;
}

.Text-Cards {
  display: flex;
  margin-top: 30px;
  text-align: left;
  padding-right: 30px;
  margin-bottom: 30px;
}

.Image-Text-Card {
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.Text-Cards h3 {
  font-family: "DM Serif Display", serif;
  font-size: 200%;
}

.Articles-Section {
  width: 600px;
  background-color: rgb(244, 178, 96);
}

.Video {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* SIGN UP */
.Signup-Container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.Signup {
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.Signup h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.Signup-Form {
  display: block;
}

.Signup-Form .form-label {
  margin-bottom: 0;
}

.Signup-Form .form-control {
  margin-bottom: 30px;
}

.Link-Login {
  color: rgb(244, 178, 96);
  font-weight: 600;
}

.Btn-Submit {
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 50px;
}

/* CIGARETTE PACK */
.Btn-Add-CigPack {
  margin-top: 10px;
  padding: 4px 15px;
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(244, 178, 96);
  font-weight: 600;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.CigPack-Container {
  padding-top: 200px;
}

.Cigarette-Pack-Card {
  width: 300px;
  margin: 0 auto;
}

.Title {
  margin-top: 0;
  padding: 0;
  font-size: 180%;
  font-weight: 700;
}

.CigPack-Image-Container {
  height: 200px;
  overflow: hidden;
  margin: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.CigPack-Image {
  height: 90%;
  transition: 0.5s;
  object-fit: cover;
  margin-bottom: 0;
}

.CigPack-Image:hover {
  transform: scale(1.2);
}

.Data {
  margin-bottom: 70px;
  align-content: center;
}

.Data p {
  margin-bottom: 3px;
}

.CigPack-Details-Link {
  color: #252526;
  font-size: 100%;
}

/* FILTERS */
.Filter-Container {
  display: flex;
  justify-content: left;
  position: fixed;
  width: 100%;
  z-index: 90;
  margin-top: 50px;
  background-color: rgb(244, 178, 96);
}

.Filter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-bottom: 30px;
  width: 40%;
  text-align: left;
}

.Filter h3 {
  margin-top: 10px;
  font-size: 120%;
  font-weight: 700;
}

.form-control {
  margin-top: 10px;
}

.Show-All {
  width: 20%;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 29px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 6px;
  font-weight: 700;
  border: 1px solid #ced4da;
}

/* ARTICLES */
.Article-Container {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: rgb(244, 178, 96);
  text-align: left;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
}

.Article-Card {
  margin-bottom: 50px;
}

.Article-Card a {
  color: #252526;
  text-decoration: none;
  font-size: 100%;
}

.Article-Card h2 {
  font-weight: 600;
}

.Article-Card h6 {
  font-weight: 600;
}

.Article-Card p {
  margin-bottom: 10px;
}

.Modify-Article button {
  background-color: #252526;
  border-radius: 4px;
  color: rgb(244, 178, 96);
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 90%;
}

.Add-Button {
  margin-bottom: 40px;
  margin-top: 20px;
  background-color: #252526;
  border-radius: 4px;
  color: rgb(244, 178, 96);
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 90%;
  font-weight: 600;
}

.Add-Container {
  margin-top: -10px;
}

.Add {
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 40px;
}

.Add h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.Add-Form .form-control {
  margin-bottom: 30px;
}

.Add-Form .form-label {
  margin-bottom: 0;
}

.Add-Form button {
  margin-right: 10px;
}

.Description {
  height: 130px;
}

/* COLLECTIONS DETAILS */
.CigPack-Details-Container {
  display: flex;
  margin: 0 auto;
}

.CigPack-Details-Image {
  margin-top: 90px;
  margin-left: 40px;
  width: 400px;
  margin-bottom: 20px;
}

.CigPack-Details-Data {
  margin-top: 84px;
  width: 420px;
  padding-left: 20px;
  text-align: left;
}

.Title-Details {
  font-size: 160%;
  margin-bottom: 5px;
}

.CigPack-Details-Data strong {
  font-weight: 700;
  font-size: 100%;
}

.CigPack-Details-Data p {
  margin-bottom: 0;
  font-size: 90%;
}

#Topic-Item {
  font-size: 80%;
}

.Description-Details {
  margin-bottom: 5px;
}

.Buttons-Details {
  margin-top: 5px;
  display: flex;
}

.Buttons-Details button {
  margin-right: 10px;
  border-color: #252526;
}

/* ADD CIGARETTE PACK */
.Add-CigPack-Container {
  margin-top: 90px;
}

.Add-CigPack {
  width: 300px;
  margin: 0 auto;
  background-color: #252526;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 40px;
  text-align: left;
}

.Add-CigPack h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}

.List-Item {
  list-style-type: none;
}

.Add-CigPack-Container ul {
  margin-left: -30px;
  margin-top: 8px;
}

/* EDIT CIGARETTE PACK */
.Edit-CigPack-Container {
  margin-top: -30px;
}

.Edit-CigPack-Container ul {
  margin-left: -30px;
  margin-top: 8px;
}

.Edit-CigPack {
  width: 300px;
  background-color: #252526;
  margin-left: 40px;
  border-radius: 6px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 600px;
  color: #ffffff;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 0;
  margin-bottom: 40px;
  text-align: left;
}

.Edit-CigPack h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 150%;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: rgb(244, 178, 96);
}